@model Category

<div class="container">

    <div class="row">

        <div class="col-md-5">
            <form method="POST">
                <input type="hidden" name="CategoryId" value="@Model.CategoryId"/>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input asp-for="Name" value="@Model.Name" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="col-md-7">
            <table class="table table-bordered">
            <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Image</td>
            <td>Price</td>
            <td></td>
        </tr>
        </thead>
           
    @if (@ViewBag.productlist!=null)
    {
        
        <tbody>
        @foreach (var item in @ViewBag.productlist)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.Name</td>
                <td><img src="~/img/@item.ImageUrl" width="80px"></td>
                <td>@item.Price</td>
                <td style="width: 140px;"> 
                    <a href="/admin/edit/@item.ProductId" class="btn btn-primary btn-sm mr-2">Edit</a>
                    <div style="float: right;">
                    <form action="/admin/categories/productdelete" method="POST">
                        <input type="hidden" name="productId" value="@item.ProductId">
                        <input type="hidden" name="categoryId" value="@Model.CategoryId">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    </div>
                </td>     
            </tr>
        }

        </tbody>
    }
    @if (@ViewBag.productlist==null)
    {
        <div class="alert alert-danger">
            <h3>ÜRÜN YOK</h3>
        </div>
    }
    
</table>
            
        </div>
        
    </div>
</div>

